.landingpage_image {
    background: url(main.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
}

.course_image {
    background: url(307776.jpg) no-repeat right center;
    background-size: 700px;
    margin-top: -60px;
    }

 .lesson_image {
    background: url(305145.jpg) no-repeat center center;
        -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
    height:100%;
    }

.landingpage_image1 {
    background: url(gazin.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;
}

.landingpage_image2 {
    background: url(707551.jpg) no-repeat center center fixed;
}


.login_image {
    background: url(underdog2.svg) no-repeat center center;
}

.white-text {
	color: white !important;
}

.black-text {
	color: black !important;
}

.navbar {
	margin-bottom: 0 !important;
}

a {
	color: #000 !important;
}

a:hover {
	text-decoration: none !important;
}

section {
	color: black !important;
	margin-top: 50px;
}

.test { 
	color: white !important;
	background-color: red !important;
	border: 2px solid !important;
    border-radius: 25px !important;
    border-color: red !important;
    width: 290px;
    height: 60px;
    font-size: 17px !important;
}

.test:hover {
  color: black !important;
  background-color: pink !important;
  border-color: pink !important;
}

.help-block {
	color: white !important;
}

hr {
	border-top: 2px solid black!important
}

.margin {
	margin-top: -5px;
}

body {
	font-family: "Hannari" !important; 
}

.wf-hannari { 
font-family: "Hannari" !important; 
}

.span {
	font-size: 31px !important;
	display: inline-block;
	text-shadow: 2px 2px #000;
	text-align: center;
}

.span2 {
	font-size: 18px !important;
	display: inline-block;
}

.span3 {
	font-size: 17px !important;
	text-shadow: 2px 2px #000;
}

.place {
	margin-right: 20px;
}

h1 {
	text-shadow: 2px 2px #000;
}

.panel-heading {
	background-color: pink !important;
    border-color: pink !important;
}


